<!-- <div class="container">
  <ul>
    <li class="card-display" *ngFor="let product of products | paginate: { itemsPerPage:5, currentPage: p }">
      <div class="card container-card">
        <img [src]="product.image" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.price }}</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
        </div>
      </div>
    </li>
  </ul>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-6 col-md-4 card-display"  *ngFor="let product of products | paginate: { itemsPerPage:6, currentPage: p }">
      <div class="card container-card">
        <img [src]="product.image" class="card-img-top border">
        <div class="card-body">
          <h6 class="card-title">{{ product.name }}</h6>
          <h5 class="card-text center">R${{ product.price }}</h5>
          <a href="#" class="btn btn-primary btn-block">Adicionar ao Carrinho</a>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="p =$event" class="align-center"></pagination-controls>
</div>


